# $$ \text{Extended Quiz}$$

# Exercise 1

Write a program that asks the user for a positive integer $k$ and $n$,  and compute and displays the value of $$A = \frac{1}{k}+ \frac{1}{kk}+ \frac{1}{kkk}+ \frac{1}{kkkk}+\frac{1}{kk...k},$$
where the last term $kk...k$ has a length $n$. Test the program by inputing $2$ and $1$ for $k$ and $n$, respectively.

In [2]:
k = input("Enter a positive integer: ")
n = eval(input("Enter a positive integer: "))

A = 0

for i in range(1,n+1):
    A += 1/int(k*i)

print("The value of A is", A)

The value of A is 0.5

# Exercise 2

1. Write a function called <b>showEmployee</b> in such a way that it should accept employee name and its salary and display both. For axemaple, <b>showEmployee("John",100000)</b> must return <b>"Employee John's salary is 100000"</b>.
if the salary is not given, the function <b>showEmployee</b> must consider 50000 as the salary.

In [3]:
def showEmployee(name, salary=50000):
    print("Employee {}'s salary is {:,}".format(name, salary))

2. Test the fuction <b>showEmployee</b> by using only your name as string.

In [4]:
showEmployee(name='Francis', salary=100000)

Employee Francis's salary is 100,000

# Exercise 3
Write a function called <b>Root_Power</b> that is given a positive number $x$ and a positive integer $n$ and returns $x^{1/n}$ and $x^n$. In
the function definition, set the default value of $n$ to $2$. Test the function <b>Root_Power</b> by inputing only $x=49$

In [5]:
def Root_Power(x,n=2):
    return np.power(x, 1/n), np.power(x,n)

x=49
print(f'The root power of {x} is ' + str(Root_Power(x)))

The root power of 49 is (7.0, 2401)

# Exercise 4
1. Write a Python function called <b>OddNum</b> that  returns the list of odd numbers from a given list.

In [6]:
def OddNum(list_):
    list_ = np.array(list_)
    list_ = list_[list_ % 2 != 0]
    return list_

2. Test the function <b>OddNum</b> by using the list $[-14, 45.5,27,0,-4,7]$

In [7]:
list_ = [-14, 45.5,27,0,-4,7]

print(OddNum(list_))

[45.5 27.   7. ]

# Exercise 5

1. Write a function called <b>SolveQuadratic</b> that takes three real numbers $a\neq 0$, $b$, $c$ and  returns the list of the solutions in <b>R</b> of the quadratic equation $ax^2 + bx + c = 0.$

In [8]:
def SolveQuadratic(a,b,c):
    sol = "{}"
    if delta := (np.power(b,2) - 4 * a * c) >= 0:
        x1 = (-b + np.sqrt(delta)) / (2 * a)
        x2 = (-b - np.sqrt(delta)) / (2 * a)
        sol = set([x1, x2])
    return sol

2. Print the output of <b>SolveQuadratic</b> when
    - $a = 2, b=0, c=-8$
    - $a = 2, b=0, c=8$
    - $a = 1, b=2, c=1$

In [9]:
print(SolveQuadratic(2,0,-8))
print(SolveQuadratic(2,0,8))
print(SolveQuadratic(1,2,1))

{0.25, -0.25}
{}
{-0.5, -1.5}

# Exercise 6
1. Write a function called <b>FunDig</b> that takes an integer  $n$ and returns the sum of the cubes of itâ€™s digits.
For example, <b>FunDig</b>$(203)$ must compute $ 2^3 + 0^3 + 3^3 $ and return $35$.

In [10]:
def FunDig(n):
    n = list(str(n))
    n = list(map(int, n))
    n = np.power(np.array(n), 3)

    return n.sum()

2. Write a python code to find all integers $n$ below 1000 such that <b>FunDig</b>$(n) > n$.

In [12]:
list_integers = np.arange(1,1000)

FunDig_vectorized = np.vectorize(FunDig)

list_integers[FunDig_vectorized(list_integers) > list_integers]

array([  2,   3,   4,   5,   6,   7,   8,   9,  13,  14,  15,  16,  17,
        18,  19,  23,  24,  25,  26,  27,  28,  29,  32,  33,  34,  35,
        36,  37,  38,  39,  40,  41,  42,  43,  44,  45,  46,  47,  48,
        49,  50,  51,  52,  53,  54,  55,  56,  57,  58,  59,  60,  61,
        62,  63,  64,  65,  66,  67,  68,  69,  70,  71,  72,  73,  74,
        75,  76,  77,  78,  79,  80,  81,  82,  83,  84,  85,  86,  87,
        88,  89,  90,  91,  92,  93,  94,  95,  96,  97,  98,  99, 105,
       106, 107, 108, 109, 115, 116, 117, 118, 119, 125, 126, 127, 128,
       129, 135, 136, 137, 138, 139, 145, 146, 147, 148, 149, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 206, 207, 208, 209, 216, 217, 218, 219,
       226, 227, 228, 229, 236, 237, 238, 239, 246, 247, 248, 249, 255,
       256, 257, 258, 259, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 307, 308, 309, 317, 318, 319, 327, 328, 329, 337, 338, 339,
       347, 348, 349, 356, 357, 358, 359, 365, 366, 367, 368, 369, 372,
       373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385,
       386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398,
       399, 408, 409, 418, 419, 428, 429, 438, 439, 447, 448, 449, 457,
       458, 459, 466, 467, 468, 469, 475, 476, 477, 478, 479, 480, 481,
       482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494,
       495, 496, 497, 498, 499, 508, 509, 518, 519, 528, 529, 538, 539,
       548, 549, 557, 558, 559, 567, 568, 569, 575, 576, 577, 578, 579,
       580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592,
       593, 594, 595, 596, 597, 598, 599, 608, 609, 618, 619, 628, 629,
       638, 639, 648, 649, 657, 658, 659, 667, 668, 669, 675, 676, 677,
       678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690,
       691, 692, 693, 694, 695, 696, 697, 698, 699, 708, 709, 718, 719,
       728, 729, 738, 739, 747, 748, 749, 757, 758, 759, 766, 767, 768,
       769, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786,
       787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799,
       807, 808, 809, 817, 818, 819, 827, 828, 829, 837, 838, 839, 847,
       848, 849, 857, 858, 859, 866, 867, 868, 869, 873, 874, 875, 876,
       877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889,
       890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 906, 907, 908,
       909, 916, 917, 918, 919, 926, 927, 928, 929, 936, 937, 938, 939,
       946, 947, 948, 949, 955, 956, 957, 958, 959, 963, 964, 965, 966,
       967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979,
       980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992,
       993, 994, 995, 996, 997, 998, 999])

# Exercise 7

Recall that if <b>s</b> is a string, then <b>s.find('a')</b> will find the location of the first a in <b>s</b>. The
problem is that it does not find the location of every a. Write a function called <b>findall</b> that
given a string and a single character, returns a list containing all of the locations of that character
in the string. It should return an empty list if there are no occurrences of the character
in the string.

In [14]:
def findall(s, a):
    locations = list()
    for i in range(len(s)):
        if s[i] == a:
            locations.append(i)
    return locations

# Exercise 8

1. Write a function called <b>List_of_factors</b> that takes a positive integer $n$ and returns a list of all the factors of $n$. Test this function by printint the output of <b>List_of_factors</b> for $n=15$

In [18]:
def List_of_factors(n):
    list_ =  [i for i in range(1, (n//2) + 1) if n % i== 0]
    list_.append(n)
    return list_

n = 15

print(f'The factors of {n} are: {List_of_factors(15)}')

The factors of 15 are: [1, 3, 5, 15]

2. Using <b>List_of_factors</b>, write a Python function called <b>IsPrime</b> that takes a positive integer $n$  as a argument and returs the boolean <b>True</b> if $n$ is a prime number otherwise it returns the boolean <b> False</b>. Test this function by printing the output of <b>IsPrime</b> for  $n=15$ and $n=97$.

    Note : A prime number (or a prime) is a natural number greater than 1 and that has no positive divisors other than 1 and itself.

In [20]:
def IsPrime(n):
    return len(List_of_factors(n)) == 2

n1 = 15
n2 = 97

print(f'Is {n1} a Prime Number? {IsPrime(n1)}')
print(f'Is {n2} a Prime Number? {IsPrime(n2)}')

Is 15 a Prime Number? False
Is 97 a Prime Number? True

3. Using <b>IsPrime</b>, write the function <b>primes_start</b> that takes two positive integers $n$, $start$ and return a list of the first n primes that are greater than or equal to $start$. The default value of $start$ should be $2$.

In [28]:
def primes_start(n: int, start: int = 2) -> list:
    """
        Returns a list of primes from start to n.
    """
    primes = []
    for i in range(start, n+1):
        if IsPrime(i):
            primes.append(i)
    return primes